#
# SPDX-License-Identifier: GPL-3.0-or-later 
# Systemd service for nmap scan of the local machine at boot time
# /etc/systemd/system/default.target.wants/nmap_local.service

[Unit]
Description=Run nmap scan on the local machine to see if all ports are closed 
ConditionCapability=CAP_SYS_ADMIN
Documentation=man:nmap(8)

[Service]
Type=oneshot
WorkingDirectory=/
PrivateNetwork=false
ProtectSystem=true
ProtectHome=read-only
PrivateTmp=yes
AmbientCapabilities=CAP_SYS_ADMIN
NoNewPrivileges=yes
User=root
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
Environment=SERVICE_MODE=1
ExecStart=/usr/bin/nmap_local
SyslogIdentifier=%N
RemainAfterExit=no

[Install]
WantedBy=default.target
