#
# test script for rkhunter scan start 
# copied from e2scrub_all service.

[Unit]
Description=Run rkhunter during boot
ConditionCapability=CAP_SYS_ADMIN
Documentation=man:rkhunter(8)

[Service]
Type=oneshot
WorkingDirectory=/
PrivateNetwork=true
ProtectSystem=true
ProtectHome=read-only
PrivateTmp=yes
AmbientCapabilities=CAP_SYS_ADMIN
NoNewPrivileges=yes
User=root
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
Environment=SERVICE_MODE=1
ExecStart=/usr/bin/rkhunter --append-log -c --rwo --syslog --sk
SyslogIdentifier=%N
RemainAfterExit=no

[Install]
WantedBy=default.target
