Package: nmap_local
Source: nmap_local
Version: 1.0
Architecture: all
Maintainer: Matthew Buchanan Astley <matthewbuchanan@astley.nl>
Installed-Size: 
Depends: perl, nmap
Section: utils
Priority: optional
Description: Script that scans the local machine for any unsuspected open ports. Ports may be allowed using a configuration file.
